@import 'tailwindcss';

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer utilities {
  .font-roboto-400 {
    font-family: var(--font-roboto);
    font-weight: 400;
  }
  .font-roboto-500 {
    font-family: var(--font-roboto);
    font-weight: 500;
  }
  .font-roboto-600 {
    font-family: var(--font-roboto);
    font-weight: 600;
  }
  .font-roboto-700 {
    font-family: var(--font-roboto);
    font-weight: 700;
  }
  .font-roboto-800 {
    font-family: var(--font-roboto);
    font-weight: 800;
  }
  .font-roboto-900 {
    font-family: var(--font-roboto);
    font-weight: 900;
  }
}

@theme inline {
  --color-primary: #0a3626;
  --color-primary-muda: #0d4531;
  --color-primary-lebihmuda: #1c996d;
  --color-text-secondary: #5d6260;
  --color-secondary: #115c41;
  --color-semi-white: #e8f5f0;
  --color-text-primary: #1c996d;
  --color-lightblue: #e8f5f0;
  --color-darkgrey: #374151;
  --color-brown: #4a3728;
  --color-redlight: #fdecec;
  --color-pinklight: #fac5c5;
  --color-rednormal: #ef4444;
  --color-orangelight: #f3d5b2;
  --color-orangnormal: #d97706;
  --color-blackprimary: #212121;
  --color-textgreenprimary: #1c996d;
  --color-skyblue: #effff9;
  --color-primaryskyblue: #ddf0e9;
}

html,
body {
  scroll-behavior: smooth;
}
