@import 'tailwindcss';

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer utilities {
  .font-roboto-400 {
    font-family: var(--font-roboto);
    font-weight: 400;
  }
  .font-roboto-500 {
    font-family: var(--font-roboto);
    font-weight: 500;
  }
  .font-roboto-600 {
    font-family: var(--font-roboto);
    font-weight: 600;
  }
  .font-roboto-700 {
    font-family: var(--font-roboto);
    font-weight: 700;
  }
  .font-roboto-800 {
    font-family: var(--font-roboto);
    font-weight: 800;
  }
  .font-roboto-900 {
    font-family: var(--font-roboto);
    font-weight: 900;
  }
}

@theme inline {
  --color-primary: #0a3626;
  --color-primary-muda: #0d4531;
  --color-primary-lebihmuda: #1c996d;
  --color-text-secondary: #5d6260;
  --color-secondary: #115c41;
  --color-semi-white: #e8f5f0;
  --color-text-primary: #1c996d;
  --color-lightblue: #e8f5f0;
  --color-darkgrey: #374151;
  --color-brown: #4a3728;
  --color-redlight: #fdecec;
  --color-pinks: #fde3e3;
  --color-merah-dikitmuda: #fac5c5;
  --color-pinklight: #fac5c5;
  --color-rednormal: #ef4444;
  --color-orangelight: #f3d5b2;
  --color-orangnormal: #d97706;
  --color-blackprimary: #212121;
  --color-textgreenprimary: #1c996d;
  --color-skyblue: #effff9;
  --color-primaryskyblue: #ddf0e9;
  --color-greenlight: #b9dfd2;
  --color-graylight: #d6d6d6;
  --color-putihabu: #EAEAEA;
  --color-blueprimary: #0c1421;
  --color-bluesecondary: #313957;
  --color-hitamdikit: #1a1a1a;
  --color-birumuda: #ddf0e9;
  --color-orange-muda: #fbf1e6;
  --color-orange-dikitmuda: #f3d5b2;
  --color-merah: #ef4444;
  --color-abugelap: #181818;
  --color-abu: #c1c1c1;
  --color-umbi: #f09595;
  --color-sayur: #97c459;
  --color-buah: #ed93b1;
  --color-daging: #f0997b;
  --color-seafood: #5dcaa5;
  --color-telur: #d3d1c7;
  --color-susu: #85b7eb;
  --color-rempah: #f5c4b3;
  --color-bumbu: #fac775;
  --color-biji: #ef9f27;
  --color-kacang: #c0dd97;
  --color-lainnya: #c1c1c1;
}

html,
body {
  scroll-behavior: smooth;
}

[data-scroll-behavior='smooth'] {
  scroll-behavior: smooth;
}
